* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #1d1c29;
}

.clock {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #2d2f41;
    padding: 0px 100px;
}

.hours {
    font-size: 200px;
    font-weight: 700;
    background: linear-gradient(to bottom, #ffffff 0%, #3399ff 100%);
    background-clip: text;
    color: transparent;
}

.minutes {
    font-size: 200px;
    font-weight: 700;
    background: linear-gradient(to bottom, #ffa56c 0%, #ff7a87 100%);
    background-clip: text;
    color: transparent;
}

.dots {
    font-size: 200px;
    font-weight: 700;
    color: azure;
}

.h1-font {
    font-weight: 700;
    font-size: 100px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #66ccff 0%, #ffffff 100%);
    background-clip: text;
    color: transparent;
}

.apm {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to bottom, #ffffff 0%, #dbc259 100%);
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
}

.sec {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to bottom, #2c90a1 0%, #29b17f 100%);
    background-clip: text;
    color: transparent;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(to bottom, #c56ec9 0%, #a556c5 100%);
    background-clip: text;
    color: transparent;
}

.d-flex {
    margin-left: 20px;
}